site_name: SVS
site_url: https://svs.kristn.co.uk

repo_url: https://github.com/kristiankunc/svs-core
edit_uri: blob/main/docs/

exclude_docs: |
  shared/

theme:
  name: material
  features:
    - content.code.copy
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - repo
    - content.action.view
    - content.action.edit

  palette:
    - scheme: default
      primary: orange
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: orange
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - mkdocs-pdf
  - search:
      lang: en
      separator: '[\s\-]+'
  - awesome-nav
  - mkdocstrings:
      handlers:
        python:
          load_external_modules: true
          inventories:
            - https://docs.python.org/3/objects.inv
            - https://django.readthedocs.io/en/stable/objects.inv
          options:
            backlinks: tree
            docstring_options:
              ignore_init_summary: true
            docstring_section_style: list
            docstring_style: google
            filters: ["!^_", "^__", "!^Meta$"]
            heading_level: 1
            inherited_members: true
            merge_init_into_class: true
            parameter_headings: true
            separate_signature: true
            show_bases: true
            show_docstring_attributes: true
            show_if_no_docstring: true
            show_root_heading: true
            show_root_full_path: false
            show_signature_annotations: true
            show_source: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            signature_crossrefs: true
            summary: true
            unwrap_annotated: true

markdown_extensions:
  - abbr
  - admonition
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - toc:
      permalink: true

extra:
  env:
    DJANGO_SETTINGS_MODULE: svs_core.db.settings
