aerich[toml]
asyncpg
bcrypt
black
docker
httpx
isort
mkdocs
mkdocs-material
mkdocstrings[python]
mypy
pre-commit
pytest
pytest-asyncio
pytest-cov
pytest-dotenv
pytest_mock
python-dotenv
ruff
tortoise-orm[psycopg]
typer
