services:
    devcontainer:
        build:
            context: ..
            dockerfile: .devcontainer/Dockerfile
        volumes:
            - ../:/home/vscode/app:cached
        depends_on:
            - db
        env_file: ../.env
        restart: "no"
        privileged: true
        command: sleep infinity

    db:
        image: postgres:18
        container_name: svs-db
        env_file:
            - ../.env
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql
            - ./pg-init:/docker-entrypoint-initdb.d:ro
        restart: "no"

    adminer:
        image: adminer:5
        env_file:
            - ../.env
        ports:
            - "8080:8080"
        depends_on:
            - db
        restart: "no"

    caddy:
        image: lucaslorentz/caddy-docker-proxy:ci-alpine
        container_name: caddy
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - caddy_data:/data
            - caddy_config:/config
        environment:
            - CADDY_INGRESS_NETWORK=caddy
        networks:
            - caddy
        restart: "no"

volumes:
    pgdata:
    caddy_data:
    caddy_config:

networks:
    caddy:
        driver: bridge
