name: Create pipx install message

on:
  pull_request:
    types: [opened]

jobs:
  post-comment:
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.head_ref, 'release-please-') && !startsWith(github.head_ref, 'dependabot/') }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Find previous comment
        id: find-comment
        uses: peter-evans/find-comment@v4
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: "github-actions[bot]"
          body-includes: "sudo PIPX_HOME=/opt/pipx PIPX_BIN_DIR=/usr/local/bin pipx install"

      - name: Get current datetime
        run: echo "BUILD_DATETIME=$(date '+%B %d, %Y at %H:%M')" >> $GITHUB_ENV

      - name: Generate pipx install command
        id: generate-download-url
        run: |
          echo "DOWNLOAD_URL=git+${{ github.server_url }}/${{ github.repository }}@${{ github.head_ref }}" >> $GITHUB_ENV

      - name: Comment with install instructions
        uses: peter-evans/create-or-update-comment@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            Install branch (`${{ github.head_ref }}`) via pipx!

            **Install with:**
            ```bash
            sudo PIPX_HOME=/opt/pipx PIPX_BIN_DIR=/usr/local/bin pipx install ${{ env.DOWNLOAD_URL }}
            ```
          edit-mode: append
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
